
<div class="card card-body">
  <h1>Video Idea</h1>
  <form action="/ideas" method="POST">
    <div class="form-group">
      <label for="title">Video title</label>
      <input type="text" name="title" class="form-control" id="title" required placeholder="Enter Title">
    </div>
    <div class="form-group">
      <label for="description">Video Description</label>
      <textarea required type="text" class="form-control" name="description"
      id="description" placeholder="Write Something"></textarea>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>